*{
  box-sizing: border-box
}

a{
  text-decoration: none;
  color:white;
}

.flash-box{
  background: #38AEF0;
}

.chat-side{
  float: left;
  color: #FFFFFF;
  font-weight: bold;
  width: 300px;
  background-color: #2f3e51;
  .side-header{
    padding: 0 20px;
    width: 300px;
    background: #253141;
    float: left;
    &__user-name {
      display: block;
      font-size: 16px;
      line-height: 100px;
      float: left;
    }
    li{
      float: right;
      line-height: 100px;
      padding: 0 2px;
      list-style: none;
    }
  }
}

.grouplist{
  padding: 0 20px;
  background-color: #2f3e51;
  clear:left;
  overflow: scroll;
  height: calc(100vh - 100px);
  .group{
    padding: 20px 0 40px;
    &__name{
      font-size: 15px;
      padding-bottom: 5px;
      display: block;
    }
    &__latest-message{
      font-size: 11px;
      display: block;
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  float: left;
  .main-header{
    border-bottom: solid 1px #eeeeee;
    height: 100px;
    padding: 0 40px;
    width: 100%;
    .current-group{
      display: block;
      float: left;  
      &__title {
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        display: inline-block;
      }
    }
  }
}


ul.member-list{
  li{
    display: inline-block;
    font-size: 12px;
    color: #999999;
    display: inline-block;
    padding-top: 15px;
  }
}

.edit{
  display: block;
  float: right;
  margin-top: 28px ;
  padding: 0 20px;
  border: solid 1px #38AEF0;
  color: #38AEF0;
  height: 40px;
  line-height: 40px;
}

.messages{
  background-color: #fafafa;
  margin: 0;
  overflow: auto;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  width: 100%;
  .message{
    margin-bottom: 40px;
    &__user{
      font-size: 16px;
      color: #434A54;
      font-weight: bold;
      display: inline-block;
    }

    &__date{
      display: inline;
      font-size: 12px;
      color: #999999;
      padding-left: 10px;
    }

    &__text{
      font-size: 14px;
      color: #434A54;
      padding-top: 10px;
    }
  }
}

.lower-message {
  margin-top: 10px;
  &__content {

  }
}

.footer{
  height: 90px;
  width: calc(100vw - 300px);
  position: fixed;
  bottom: 0;
  right: 0;
}

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    padding-left: 10px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
      cursor: pointer;

    }
    .hidden {
      display: none;
    }
  }

  &__submit {
    background-color: #38aef0;
    border: none;
    color: white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
    cursor: pointer;
  }
}
